*.mine filter=lfs diff=lfs merge=lfs -text
*.ref filter=lfs diff=lfs merge=lfs -text
fraig/tests.fraig/log/sim13.log filter=lfs diff=lfs merge=lfs -text
fraig/tests.fraig/log/sim13r.log filter=lfs diff=lfs merge=lfs -text
hw7/do2.ref filter=lfs diff=lfs merge=lfs -text
hw7/do2.mine filter=lfs diff=lfs merge=lfs -text
